html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-body text-base dark:bg-darkmode-body font-primary font-normal leading-relaxed text-text dark:text-darkmode-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark dark:text-darkmode-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote > p {
  @apply my-0 #{!important};
}
#schedule::before {
  content: "";
  display: block;
  height: 250px;
  margin-top: -80px;
  visibility: hidden;
}
.scroll-indicator {
  position: fixed;
  bottom: 60px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  animation: fadeOut 5s ease forwards;

  .mouse {
    width: 32px; 
    height: 52px; 
    border: 2px solid #b5b5ba;
    border-radius: 14px;
    position: relative;
  }

  .scroll-wheel {
    width: 6px; 
    height: 12px; 
    background-color: #b5b5ba;
    border-radius: 4px;
    position: absolute;
    top: 12px; 
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 1.5s infinite;
  }
}


@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}